{% load static %}
<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

.sidenav a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

</style>


<div id="mySidenav" class="sidenav">
<!--    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    {% if notification|length >= 1 %}
    {% for follow_notification in notification %}
    {% if follow_notification.notification_type == 1 %}
    <a class="dropdown-item d-flex align-items-center" href="#">
        <div class="dropdown-list-image mr-2">
            <img src="{{ follow_notification.sender.image.url }}"
                 class="avatar rounded-circle" width="30px" height="30px"
                 alt="{{ follow_notification.sender.image.url }}">
        </div>
        <div>
            <div class="small text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                     fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg>
                {{ follow_notification.date_posted }}
            </div>
            <span class="font-weight-bold">
                {{ follow_notification.sender }}
                {% if follow_notification.sender.is_verified %}
                <img width="15px" height="15px" class="mb-1"
                     src="{% static 'images/verify.png' %}" alt="">
                {% endif %}
                made an order!
            </span>
        </div>
    </a>
    <hr>
    {% endif %}
    {% if follow_notification.notification_type == 2 %}
    <a class="dropdown-item d-flex align-items-center" href="#">
        <div class="dropdown-list-image mr-2">
            <img src="{{ follow_notification.sender.image.url }}"
                 class="avatar rounded-circle" width="30px" height="30px"
                 alt="{{ follow_notification.sender.image.url }}">
        </div>
        <div>
            <div class="small text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                     fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg>
                {{ follow_notification.date_posted }}
            </div>
            <span class="font-weight-bold">
                {{ follow_notification.sender }}
                {% if follow_notification.sender.is_verified %}
                <img width="15px" height="15px" class="mb-1"
                     src="{% static 'images/verify.png' %}" alt="">
                {% endif %}
                followed you!
            </span>
        </div>
    </a>
    <hr>
    {% endif %}
    {% if follow_notification.notification_type == 3 %}
    <a class="dropdown-item d-flex align-items-center" href="#">
        <div class="dropdown-list-image mr-2">
            <img src="{{ follow_notification.sender.image.url }}"
                 class="avatar rounded-circle" width="30px" height="30px"
                 alt="{{ follow_notification.sender.image.url }}">
        </div>
        <div>
            <div class="small text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                     fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg>
                {{ follow_notification.date_posted }}
            </div>
            <span class="font-weight-bold">
                {{ follow_notification.sender }}
                {% if follow_notification.sender.is_verified %}
                <img width="15px" height="15px" class="mb-1"
                     src="{% static 'images/verify.png' %}" alt="">
                {% endif %} uploaded a Gig!
            </span>
        </div>
    </a>
    <hr>
    {% endif %}
    {% endfor %}
    {% else %}
    <h4 class="container"> Nothing to see here</h4>
    {% endif %}
</div>

<!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>-->

<script>

function openNav() {
  var x = document.getElementById("mySidenav");
  if (x.style.width === "350px") {
    x.style.width = "0";
//    x.style.boxShadow = "10px 20px 30px black";
  } else {
    x.style.width = "350px";
    document.getElementById("counter").innerHTML= "0";
  //  x.style.boxShadow = "10px 20px 30px black";
  }
}
$(document).ready(function(){
  $(".bell-btn").click(function(e){
    e.preventDefault()
    var this_ = $(this)
    var notificationUrl = this_.attr("data-href")
    if (notificationUrl){
       $.ajax({
        url: notificationUrl,
        method: "GET",
        data: {},
        success: function(data){
          console.log(data)
          var newNotification;
          if (data.updated){
              //$("#counter").hide();
              //$(".noti_count").text("09");
             }
            }, error: function(error){
              //console.log(error)
              console.log("error")
        }
      })
    }

  })
})
</script>

