{% extends 'market/base.html' %}
{% block title %}Market{% endblock %}
{% load static %}
{% load filtertags %}
{% load crispy_forms_tags %}
{% block content %}
<style>
   .section {
      background: #fd5631;
      border-color: #fd5631;
      color: #fff;
      position: relative;

   }
   .search-category {
        position: absolute;
        top: 200px;
        width: 84%;
        background-color: #fff;
   }




</style>
<div class="section">
    <div class="container py-5 mt-1">
        <h3><b>Update {{product}}</b></h3>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <b>{{ field }}</b>: {{ error }}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        {% if formset.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in formset.errors.items %}
            {% for error in errors %}
            <b>{{ field }}</b>: {{ error }}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        {{ formset.management_form }}
        {{ formset.non_form_errors }}
    </div>
</div>
<br><br>
<div class="container mb-5">
    <div class="row mb-5">
        <div class="col-lg-9">
            <!--            <form method="POST" action="{% url 'product-update' product.id %}" enctype="multipart/form-data">-->
            <!--                {% csrf_token %}-->
            <!--                <h5><b>Upload file</b></h5>-->
            <!--                <label>-->
            <!--                    File types supported: PNG, JPG, GIF, WEBP. Max size: 100kb-->
            <!--                </label>-->
            <!--                <div id="wrapper">-->
            <!--                    <div align="center">-->
            <!--                        <br>-->
            <!--                        <p>Upload image</p>-->
            <!--                        &lt;!&ndash;                        <input type="file" name="images" multiple>&ndash;&gt;-->
            <!--                        {% for i in formset %}-->
            <!--                        {{ i }}-->
            <!--                        {% endfor %}-->
            <!--                        <br>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <style>-->
            <!--                    #wrapper {-->
            <!--                        border: 1px solid #000;-->
            <!--                        border-radius: 15px;-->
            <!--                        padding-bottom: 20px;-->
            <!--                    }-->
            <!--                </style>-->
            <!--                <br><br>-->
            <!--                <h5><b>Details</b></h5>-->

            <!--                <label>Product name</label>-->
            <!--                {{ form.name }}-->
            <!--                <div class="form-row mt-3">-->
            <!--                    <div class="col-md-6 mb-3">-->
            <!--                        {{ category_field|crispy }}-->
            <!--&lt;!&ndash;                        <label>Category</label>&ndash;&gt;-->
            <!--&lt;!&ndash;                        {{ form.category }}&ndash;&gt;-->
            <!--                    </div>-->
            <!--                    <div class="col-md-6 mb-3">-->
            <!--                        <label>Price</label>-->
            <!--                        {{ form.price }}-->
            <!--                    </div>-->

            <!--                </div>-->
            <!--                <div class="form-group">-->
            <!--                    <label>Description</label>-->
            <!--                    {{ form.description }}-->
            <!--                    {{ form.media }}-->
            <!--                </div>-->
            <!--                <div class="form-group">-->
            <!--                    <label>Delivery period</label>-->
            <!--                    {{ form.delivery_period }}-->
            <!--                </div>-->
            <!--                <button class="btn btn-block" type="submit">Submit Form</button>-->
            <!--            </form>-->
            <form enctype="multipart/form-data" method="post" id="product_form">
                {% csrf_token %}
                <!-- main form start --- in our case product form -->
                <div class="form-group">
                    <label>Product name*</label>
                    {{ form.name }}
                    <div class="form-row mt-3">
                        <div class="col-md-6 mb-3">
                            {{ category_field|crispy }}
                            <!--                        <label>Category</label>-->
                            <!--                        {{ form.category }}-->
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Price*</label>
                            {{ form.price }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description*</label>
                        {{ form.description }}
                        {{ form.media }}
                    </div>
                    <div class="form-group">
                        <label>Delivery period*</label>
                        {{ form.delivery_period }}
                    </div>

                    {% if form.help_text %}
                    <small style="color: grey">{{ form.help_text }}</small>
                    {% endif %}
                    {% for error in form.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>

                <!-- main form end --- in our case product form -->

                <!-- inline form for Images start -->

                <!-- EXPLAINING with named_formsets.images as formset -->
                <!-- Note: named_formsets is used in get_context_data function in views.py -->
                <!-- Note: here images is our ImageFormSet name, used in get_named_formsets function in views.py -->
                {% with named_formsets.images as formset %}
                {{ formset.management_form }}
                <script type="text/html" id="images-template">   // id="inlineformsetname-template"
                <tr id="images-__prefix__" class=hide_all> // id="inlineformsetname-__prefix__"
                    {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                    {% endfor %}

                    {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                    {% endfor %}
                </tr>
                </script>
                <br>
                <div id="wrapper">
                    <div class="card-header">
                        <h4 class="card-title">Update Images</h4>
                    </div>
                    <div align="center">
                        <br>
                        <table class="table card-body">
                            <thead class="text-secondary">
                            <td>Image<span style="color: black;" class="required">*</span></td>
                            <td>Delete?</td>
<!--                            <th>Custom Delete btn</th>-->
                            </thead>
                            <tbody id="item-images">  <!-- id="item-inlineformsetname" -->
                            <!-- formset non forms errors -->
                            {% for error in formset.non_form_errors %}
                            <span style="color: red">{{ error }}</span>
                            {% endfor %}
                            {% for formss in formset %}
                            {{ formss.management_form }}
                            <tr id="images-{{ forloop.counter0 }}" class=hide_all>
                                <!-- id="inlineformsetname-counter" -->
                                {{ formss.id }}
                                {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                    <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                </td>
                                {% endfor %}
                                <!-- delete code -->
<!--                                {% if formss.instance.pk %}-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-danger" data-toggle="modal"-->
<!--                                            data-target="#exampleModal{{formss.instance.pk}}">-->
<!--                                        Delete-->
<!--                                    </button>-->
<!--                                    &lt;!&ndash; Modal &ndash;&gt;-->
<!--                                </td>-->
<!--                                {% endif %}-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="#" id="add-image-button" class="btn btn-secondary add-images">Add More</a>
                        <!-- id="add-inlineformsetname-button" -->
                    </div>
                </div>
                {% endwith %}
                <!-- inline form for Images end -->
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                </div>
            </form>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>

            <script>
                $(document).ready(function() {
                    // when user clicks add more btn of images
                  $('.add-images').click(function(ev) {
                      ev.preventDefault();
                      var count = $('#item-images').children().length;
                      var tmplMarkup = $('#images-template').html();
                      var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                      $('#item-images').append(compiledTmpl);

                      // update form count
                      $('#id_images-TOTAL_FORMS').attr('value', count+1);
                  });
              });

            </script>
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="col-lg-3 col-md-3 col-sm-3 col-6">
            <br><br><br>
            <div class="sticky-top" style="top: 39px">
                <h5 class="mb-4"><b>Preview</b></h5>

                <a href="{{ product.get_absolute_url }}">
                    {% if product.productimage_set.all %}

                    {% for product_image in product.productimage_set.all %}
                    {% if forloop.first %}

                    <div class="single-testimonial text-center">
                        <img src="{{ product_image.image.url }}" fill="777" background="#777" color="#777" alt=""
                             class="thumbnail-product">
                    </div>
                    {% endif %}

                    {% endfor %}

                    {% else %}
                    <img src="{{ product.image.url }}" fill="777" background="#777" color="#777" alt=""
                         class="thumbnail-product">
                    {% endif %}
                    <style>
                        .thumbnail-product{
                            width: 100%;
                            height: 200px;
                            box-shadow:hsl(0, 0%, 80%) 0 0 16px;
                            transition: .3s
                        }
                        .col-lg-4{transition: .3s}
                        .col-lg-4:hover{
                            width: 100%;
                            height: 200px;
                            transform: translateY(-6px);
                            box-shadow:hsl(0, 0%, 80%) 0 0 16px;
                        }
                        .tox-notification{display: none !important;}




                    </style>
                </a>

                <div class="card p-2 shadow">
                    <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">
                        <p class="text-secondary mb-1">by <a href="{% url 'vendor' product.vendor %}">
                            {{ product.vendor }}</a> in
                            <a href="/market/?category_id={{ product.category.id }}">
                                {{ product.category }}
                            </a>
                        </p>
                        <h6 class="mb-3 mt-2 text-truncate">{{ product.name }}</h6>
                        <p class="fs--1">
                            {% for i in product.rating_count|times %}
                            <span class="fa fa-star checked text-warning"></span>
                            {% endfor %}
                            {% for i in product.rating_count|times_minus %}
                            <span class="fa fa-star"></span>
                            {% endfor %}
                            <span class="text-500 text-grey fw-semi-bold ms-1">
                                ({{product.productreview_set.count}} people rated)</span>
                        </p>
                        <style>
                            .fw-semi-bold {
                                font-weight: 500 !important;
                                color: grey !important;
                            }




                        </style>
                        <div class="media">
                            <div class="d-block">
                                <img src="{% static 'images/cart.png' %}" width="23px" height="23px" alt="">
                                <!--                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-download"-->
                                <!--                                     fill="currentColor"-->
                                <!--                                     xmlns="http://www.w3.org/2000/svg">-->
                                <!--                                    <path fill-rule="evenodd"-->
                                <!--                                          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>-->
                                <!--                                    <path fill-rule="evenodd"-->
                                <!--                                          d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>-->
                                <!--                                </svg>-->
                                <strong class="ml-0"> {{ product.product_purchase }} </strong> sales
                            </div>
                            <div class="media-body">
                                <div class="d-flex float-right badge badge-warning alert alert-warning py-1">
                                    <h6><b>₦{{ product.price|floatformat:2 }}</b></h6>
                                </div>
                            </div>
                        </div>

                    </a>

                </div>
            </div>
        </div>

    </div>
</div>
<style>
    #wrapper {
        border: 1px solid #000;
        border-radius: 15px;
        padding-bottom: 20px;
    }
</style>
{% endblock %}